name: record_web
description: Web specific implementation for record package called by record_platform_interface.
version: 1.2.0
homepage: https://github.com/llfbandit/record/tree/master/record_web

environment:
  sdk: ^3.5.0
  flutter: ">=3.24.0"

resolution: workspace

dependencies:
  flutter:
    sdk: flutter

  flutter_web_plugins:
    sdk: flutter

  web: ^1.1.1
  universal_html: ^2.2.4
  record_platform_interface: ^1.4.0
  idb_shim: ^2.6.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      web:
        pluginClass: RecordPluginWeb
        fileName: "record_web.dart"

  assets:
    - assets/js/record.worklet.js
    - assets/js/record.fixwebmduration.js
